$backgroundColor: #04060f;
$buttonLinkColor: #03353e;
$buttonLinkHoverColor: #0294a5;
$buttonLinkBorderColor: #a79c93;

$modalRootColor: #242424b3;
$modalColor: #c1403d;
$footerColor: #132226;

$fontSansSerif: "Lexend", sans-serif;